html{
    box-sizing: border-box;
}
.containerHeaderOne{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    align-items: center;
}
.headerLinks{
    display: flex;
    gap: 24px;
    list-style:none;
    font-size: 18px;
}
body{
    margin: 0;
    font-family: 'roboto';
}
p {
    margin: auto;
}
.headerOne{
    color: #F9FAF8;
    font-size: 24px;
}
a{
    text-decoration: none;
}
.headerLink{
    color: #E5E7EB;
}
.heroContainer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}
.heroImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.heroContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 375px;
}
button{
    width: 100px;
    padding: 6px;
    border-radius: 6px;
    background-color: #3882F6;
}